body {
  background-color: greenyellow;
  display: grid;
  place-items: center;
}

img {
  width: 80%;
}

.main {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right {
  align-items: center;
  text-align: center;
  padding: 30px;
  display: grid;
  place-items: center;
}

.left {
  padding: 60px 30px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  grid-template-rows: repeat(4, 1fr);
}
.left div {
  width: 100%;
}

.left .generate {
  text-align: center;
}
.left .generate button{
  margin: 0px 5px;
}

@media only screen and (max-width: 1100px){
  .main {
    width: 80%;
    position: relative;
  }
}

@media only screen and (max-width: 975px){
  .main {
    width: 90%;
  }
}

@media only screen and (max-width: 865px){
  .main {
    width: 100%;
    margin-top: 50px;
  }
  body {
    background-color: white;
    align-items: center;
  }
}

@media only screen and (max-width: 786px){
  .main {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .left {
    padding: 10px 30px;
  }
}